ion-input{
    margin-top: 600px;
    float: left;
    width: 90%;
    height: 30px;
}
ion-icon{
    float:right;
    margin-top: 600px;
    width: 10%;
    height: 30px;
}

ion-title{
    font-style: italic;
}