<ion-header>
  <ion-toolbar color="translucid">
    <ion-title>ChatAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <ion-input placeholder="Digite a sua mensagem aqui..."></ion-input>
    <ion-icon name="send"></ion-icon>
  </ion-content>
</ion-app>