<ion-app>
  <ion-content>
    <div>
    <ion-item>
      <ion-label>Usuário:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input type='password'></ion-input>
    </ion-item>
  </div>
  <ion-button [routerLink] = "['/chat']" expand="full" color="secondary">Login</ion-button>
  </ion-content>
</ion-app>
