<ion-app>
  <ion-content>
    <div>
      <ion-item>
        <ion-label>Nome Completo:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data de Nasc.:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <label>E-mail:</label>
        <ion-input type='email'></ion-input>
      </ion-item>
      <ion-item>
        <label>Telefone:</label>
        <ion-input type='tel'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirme a Senha::</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>
    </div>
    <ion-button expand="full" color="secondary">Salvar</ion-button>
  </ion-content>
</ion-app>