<ion-content>
  <ion-img src="../assets/balaoazul.png"></ion-img>
  <h1>ChatAPP</h1>
  <p><a>Cadastre-se</a></p>
  <ion-button [routerLink] = "['/login']" expand="full" color="secondary">Efetue o Login</ion-button>
</ion-content>
