ion-img{
    padding-top: 50px;
    width: 200px;
    height: 200px;
    margin: auto;
}

h1{
    text-align: center;
    color: #d3d3d3;
    font-style: italic;
}

p{
    text-align: center;
    padding-top: 250px;
}


